#page_container
{
	width: 70%;
}

#spacer
{
    font-size: 0; 
    height: 40px;
    line-height: 0;
}

.justify-content-center .dropdown-menu {
   left: 50%;
   transform: translateX(-50%);
}